@import "variables.scss";
@import "Navbar.scss";
@import "ChatView/Chat.scss";
@import "ChatView/ConversationList.scss";
@import "ChatView/Hero.scss";
@import "ChatView/ConvDetails.scss";

* {
  margin: 0;
  box-sizing: border-box;
}


body, html, #app {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

main {
  height: 100%;
}

main {
  display: flex;
  height: calc(100% - $nav-height);
}

a {
  text-decoration: none;
  color: unset;
}