$color-dark: #35303d;
$darker-purple: #35244d;
$dark-purple: #402e58;
$medium-purple: #4a3664;
$purple: #774aaa;
$white: #ffffff;
$light-gray: #f6f6f6;
$lighter-gray: #fcfcfc;
$gray: #c7c4cb;

$nav-height: 50px;
$component-header-height: 75px;