$color-dark: #35303d;
$darker-purple: #35244d;
$dark-purple: #402e58;
$medium-purple: #4a3664;
$purple: #935cd2;
$white: #ffffff;
$light-gray: #f0f0f0;
$lighter-gray: #fcfcfc;
$gray: #c7c4cb;

$nav-height: 60px;
$component-header-height: 75px;